body.login {
    background-image: url("../img/background_admin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
     display: flex;
    align-items: center;
    justify-content: center;
}

body.login {}
body.login div#login {}
body.login div#login h1 {}
body.login div#login h1 a {
  background-image: url(../img/logo.jpg);
  height: 100px;
  width: 135px;
  background-size: cover;
  border: 5px solid rgba(243, 248, 247, 0.55);
  border-radius: 50%;
}
body.login div#login form#loginform {
  margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 46px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {
  background: rgba(251, 251, 251, 0.30);
  border: 1px solid #E32726;
}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {
  background: #E32726;
  border-color: #E32726;
  box-shadow:none;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  border: none;
}
body.login div#login p#nav {}
body.login div#login p#nav a {
  text-decoration: none;
  color:rgba(255, 255, 255, 0.75);
  font-weight: 800;
}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {
  text-decoration: none;
  color:rgba(255, 255, 255, 0.75);
  font-weight: 800;
}
