/*
   Theme Name: Theme Venemergencia
   Version: 1.0
   Description: Child Theme. Theme WordPress for Venemergencia
   Author: Yoka Leis
   Author URI: https://www.instagram.com/yokaleis
   Template: Bridge
   Text Domain: venemergencia
*/
@import url("../bridge/style.css");

body{
   background-color: #FFF;
   font-family: 'Helvetica', Arial, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6{
   text-transform: initial;
}
/* MENU */
.header_bottom {
   padding: 0 45px;
   background-color: #E32726;
   -webkit-transition: all .2s ease 0s;
   -moz-transition: all .2s ease 0s;
   -o-transition: all .2s ease 0s;
   transition: all .2s ease 0s;
}
.header_inner_right{
   display: none;
}
nav.main_menu>ul>li>a {
   position: relative;
   padding: 0 17px;
   color: #FFF;
   text-transform: capitalize;
   font-weight: 100;
   font-size: 15px;
   letter-spacing: 0px;
}
nav.main_menu>ul>li.active>a {
   color: #FFF;
}
.drop_down .second .inner>ul, li.narrow .second .inner ul {
   display: inline-block;
   position: relative;
   background-color: #E32726;
   border-color: #E32726;
}
.drop_down .second .inner ul li a, .drop_down .second .inner ul li h5 {
   display: block;
   font-weight: 600;
   color: #FFF;
   height: auto;
   line-height: 16px;
   margin: 0;
   padding: 9px 0;
   -webkit-transition: color .3s ease-in-out;
   -moz-transition: color .3s ease-in-out;
   -ms-transition: color .3s ease-in-out;
   -o-transition: color .3s ease-in-out;
   transition: color .3s ease-in-out;
   font-size: 11px;
   text-transform: capitalize;
   font-family: 'Helvetica', Arial, Verdana, sans-serif;
   letter-spacing: 1px;
}
/* 
TITULO PÁGINA */
.title_subtitle_holder{
   
}
.title h1, .title.title_size_small h1{
	font-size: 25px;
}
.title .separator.small, .title .separator.small.left, .title .separator.small.right {
    margin-top: 14px;
    margin-bottom: 10px;
	  display:none;
}
.title h1 {
    color: #303030;
    padding: 0;
    text-transform: initial;
    letter-spacing: 1px;
    /* font-weight: 600; */
    text-align: center;
    /* font-size: 37px; */
}
/* FOOTER */
.footer_top h5 {
   color: #fff;
   margin: 0 0 22px;
}
.h5, .h6, h5, h6 {
   font-weight: 600;
   letter-spacing: 1px;
   text-transform: capitalize;
}
.ico{
   margin-right: 5px;
}